<h1>Editing users_access_control</h1>

<%= render 'form' %>

<%= link_to 'Show', user_access_control_path(@access_control.user_id, @access_control) %> |
<%= link_to 'Back', user_access_controls_path(@access_control.user_id) %>
